<template name="AppHeader">
    <div class="navbar-fixed">
        <nav class="nimbus-bgcolor">
            
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo">&nbsp;&nbsp;&nbsp;<img src="nimbus_logo_name.png" alt="nimbus logo" height="20"></a>

                    <ul class="right">
                        
                            <li>
                                <a href="https://app.nimbuspos.com/login">LOGIN</a>
                            </li>

                    </ul>
                    
                </div>

        </nav>
    </div>
</template>