<template name="AppHeader">
    <div class="navbar-fixed">
        <nav>
            <ul id="slide-out" class="side-nav">
                <ul id="#app-menu" class="collapsible" data-collapsible="expandable">
                    {{#each appMenu}}
                        <li>
                            {{#if submenu}}
                                <a class="collapsible-header" href="{{pathFor routeName}}">{{label}}</a>
                                <div class="collapsible-body">
                                    <ul>
                                        {{#each submenu}}
                                            <li><a class="active hideMenuBar" href="{{pathFor routeName}}">{{label}}</a></li>
                                        {{/each}}
                                    </ul>
                                </div>
                            {{else}}
                                <a class="collapsible-header hideMenuBar" href="{{pathFor routeName}}">{{label}}</a>
                            {{/if}}
                        </li>
                    {{/each}}
                </ul>
            </ul>

            <div class="nav-wrapper">

                <a id="sidebar-toggle" href="#" data-activates="slide-out" class="button-collapse show-on-large hide-on-med-and-down waves-effect waves-light"><i class="mdi-navigation-menu"></i></a>&nbsp;

                <a href="/" class="brand-logo">admiral</a>

                <ul class="right {{ hiddenClass }}">
<!--                     <li class="hide-on-med-and-down">
                        <a class="waves-effect waves-light" href="/business/employees/enterEmployeeHours"><i class="material-icons">schedule</i></a>
                    </li>
                    <li class="hide-on-med-and-down">
                        <a class="waves-effect waves-light" href="/business/expenses/create" style="white-space:nowrap;"><i class="material-icons">attach_money</i></a>
                    </li>
                    <li class="hide-on-med-and-down">
                        <a class="waves-effect waves-light" href="/help"><i class="material-icons">help</i></a>
                    </li>
                    <li class="hide-on-med-and-down">
                        <a href="/settings"><i class="material-icons">settings</i></a>
                    </li> -->
                </ul>
            </div>

        </nav>
    </div>
</template>