<template name="Home">

    <div class="homeHeader">
        <div id="homeHeaderContent">
            <!-- <div class="col s4 left-align saveVerticalSpace">  -->
                <img id="headerLogo" src="nimbus_logo_name.png" alt="nimbus logo">
            <!-- </div> -->
            <!-- <div class="col s8 right-align saveVerticalSpace"> -->
                <a id="headerSignUp" class="waves-effect waves-light btn-flat yellow darken-4 white-text" href="https://app.nimbuspos.com/signup">Sign-Up</a>
                <a id="headerLogin" class="waves-effect waves-light btn-flat light-blue accent-2 white-text" href="https://app.nimbuspos.com/login">Login</a>
            <!-- </div> -->
        </div>
    </div>

    <ul id="homeTop" class="fit-vertical-view">
        <li class="row center-align" style="opacity: 0;">
            <img class="hide-on-small-only" src="nimbus_logo_name_blue_slogan.png" alt="nimbus logo" style="width:60%; height:auto; max-height:80%;">

            <img class="hide-on-med-and-up" src="nimbus_logo_name_blue_slogan.png" alt="nimbus logo" style="width:60%; height:auto; max-height:80%;">
            <div id="mainLoginSignup" class="row">
                <a class="waves-effect waves-light btn-flat yellow darken-4 white-text" href="https://app.nimbuspos.com/signup">Sign-Up</a>
                <a class="waves-effect waves-light btn-flat light-blue accent-2 white-text" href="https://app.nimbuspos.com/login">Login</a>
            </div>
        </li>
    </ul>

    <a id="exploreMore" class="grey-text">Explore<br><i id="exploreMoreArrow" class="material-icons grey-text">keyboard_arrow_down</i></a>


    <ul id="growingPlatform">
        <div class="divider"></div>
        <div class="row center-align">
            <h5 class="lighten-1 grey-text center-align">A growing and evolving platform.</h5>
            <h6 class="dark grey-text center-align">If you need a new feature we don't already have, we'll build it for you.</h6>
    <!-- 
            <p class="row center-align">
                <img class="responsive-img-home" align="middle" src="features.png" alt="features">
            </p> -->
        </div>

        <li class="center-align nimbus-fontcolor" style="opacity:0;">
            <h5>Orders<i class="material-icons green-text small">done</i></h5>
        </li>
        <li class="center-align nimbus-fontcolor" style="opacity:0;">
            <h5>Products<i class="material-icons green-text small">done</i></h5>
        </li>
        <li class="center-align nimbus-fontcolor" style="opacity:0;">
            <h5>Loyalty Programs<i class="material-icons green-text small">done</i></h5>
        </li>
        <li class="center-align nimbus-fontcolor" style="opacity:0;">
            <h5>Customers<i class="material-icons green-text small">done</i></h5>
        </li>
        <li class="center-align nimbus-fontcolor" style="opacity:0;">
            <h5>Employees<i class="material-icons green-text small">done</i></h5>
        </li>
        <li class="center-align nimbus-fontcolor" style="opacity:0;">
            <h5>Expenses<i class="material-icons green-text small">done</i></h5>
        </li>
        <li class="center-align nimbus-fontcolor" style="opacity:0;">
            <h5>Multiple Locations<i class="material-icons green-text small">done</i></h5>
        </li>
        <li class="center-align nimbus-fontcolor" style="opacity:0;">
            <h5>Reports and Insights<i class="material-icons green-text small">done</i></h5>
        </li>
        <li class="center-align nimbus-fontcolor" style="opacity:0;">
            <h5>Your Business From Anywhere<i class="material-icons green-text small">done</i></h5>
        </li>
    </ul>

    <ul id="onAnyDevice">
        <div class="divider"></div>
        <li class="row center-align">
            <h5 class="lighten-1 grey-text center-align">Your business on any device.</h5>
            <h6 class="dark grey-text center-align">Running on as many devices as you need.</h6>
            <p class="row">
                <video id="anyDeviceVideo" style="opacity:1;" playsinline>
                    <source src="AnyDevice2.mov" type="video/mp4">
                </video>
            </p>
        </li>
    </ul>

    <ul id="availableOnStores">
        <!-- <div class="divider"></div> -->
        <li class="row center-align" style="opacity:1;">
            <a href="https://itunes.apple.com/ca/app/nimbus-pos/id1176199444?mt=8"><img id="app_store" class="responsive-img" data-caption="Available on the App Store" src="App_Store.png" alt="App Store" style="opacity:1;" width="100"></a>
            <a href="https://play.google.com/store/apps/details?id=www.nimbuspos.register"><img id="play_store" class="responsive-img" data-caption="Available on Google Play" src="Play_Store.png" alt="Play Store" style="opacity:1;" width="100"></a>
        </li>
        <!-- <div class="divider"></div> -->
    </ul>


    <ul id="systemSetup">
        <div class="divider"></div>
        <li class="row center-align">
            <h5 class="lighten-1 grey-text center-align">Setup: Simple, Flexible, Minimal.</h5>
            <h6 class="dark grey-text center-align">We'll help you configure the system that best suits your needs.</h6>
            <p class="row">
                <video id="systemSetupVideo" style="opacity:1;" playsinline>
                    <source src="SystemSetup.mov" type="video/mp4">
                </video>
            </p>
        </li>
    </ul>

    <ul id="contactUs">
        <div class="divider"></div>
        <li class="row center-align" style="opacity:1;">
            <h5 class="center-align grey-text"><!-- We are currently working with business owners in the Greater Toronto Area. <br><br> -->We would love to hear from you.<br><br><a style="color: #40c4ff;" href="mailto:info@nimbuspos.com">info@nimbuspos.com</a></h5>
        </li>
        <div class="divider"></div>
    </ul>

     <!-- <div id="customerGallery"> -->
        <h5 class="center-align grey-text">Some of our customers:</h5>
        <!-- <div class="divider"></div>
        <li class="row center-align" style="opacity:0;"> -->
            <img id="vegandanish_image" class="responsive-img" data-caption="Vegan Danish Bakery" src="vegandanish.png" alt="Vegan Danish Bakery" style="opacity:0;">
<!--         </li>
        <li class="row center-align" style="opacity:0;"> -->
            <img id="fahrenheit1_image" class="responsive-img" data-caption="Fahrenheit Coffee, 120 Lombard St." src="fahrenheit2.png" alt="Fahrenheit" style="opacity:0;">
<!--         </li>
        <li class="row center-align" style="opacity:0;"> -->
            <!-- <img id="fahrenheit2_image" class="responsive-img" data-caption="1903: Harley Davidson Cafe (Summer Pop-up)" src="harley_davidson.png" alt="Harley Davidson Cafe" style="opacity:0;"> -->
        <!-- </li> -->
    <!-- </div> -->
    
    <div class="row"></div>
    
    <a class="bottomHomeBar nimbus-bgcolor white-text center-align" style="font-size: 0.8rem;">Nimbus POS Inc., Toronto, ON.</a>

</template>